<div class="track-area">
    <div class="points-search">

        <selectbox source="map.points" title="Название точки маршрута" on-select="map.add(point)" on-change="map.search(filter)"></selectbox>

        <div class="route" ng-show="map.route.length">
            <div class="route-point" ng-repeat="point in map.route">
                <div class="about">
                    <div class="name elepsis">{{::point.name}}</div>
                    <div class="description elepsis">{{::point.description}}</div>
                </div>
                <div class="shadow hover-background" ng-click="map.remove(point, $index)">
                    <icon svg-icon="delete"></icon>
                </div>
            </div>
        </div>
    </div>

    <div id="map"></div>
</div>
