@import "../../common/variables.scss";

.track-area {
    display: flex;
    flex-direction: row;

    #map {
        width: 600px;
        height: 400px
    }

    .points-search {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        max-width: 220px;
    }

    input {
        margin-top: 10px;
    }

    .shadow {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

}