$ac-gray: #e5e5e5;
$ac-light-gray: #f0f0f0;
$ac-purple-hover: #dadbf3;
$ac-white: #fff;
$ac-blue: #00f;
$ac-even-list : rgba(218, 219, 243, 0.45);
$hover-color: rgba(153, 153, 153, 0.4);
$warning: #f8865c;